

/*preguntados*/
canvas {
    border: 1px solid black;
}
.pregunta {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}
/*ahrocado*/
.ahorcadito {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}

#ahorcado {
    border: 1px solid #000000;
    margin: 20px auto;
}

#palabra {
    font-size: 24px;
    letter-spacing: 10px;
}
/*romepcavesas*/
.fondo{
    background-color:#032b3b;
    color: #fff;
}
#puzzle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

#puzzle {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 2px;
}

.piece {
    width: 100px;
    height: 100px;
    background-size: 400px 400px;
}
#timerCanvas {
    margin-top: 20px;
}

/*memoria*/
.fondomemoria{
    background-color: #3081bf;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 400px;
    margin: auto;
}
.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.card.flipped .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #032b3b;
}
.card-back {
    transform: rotateY(180deg);
}
.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
@media (max-width: 468px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*luces*/
.textocoor{
    color: #032b3b;
}
.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
.image-container img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.highlight {
    opacity: 1 !important;
}
.disabled {
    pointer-events: none;
}
@media (max-width: 600px) {
    .image-container {
        justify-content: center; /* Centrar las imágenes en pantallas pequeñas */
    }

    .image-container img {
        width: 45%; /* Ajustar el ancho de las imágenes */
        margin: 2.5%; /* Añadir margen para separar las imágenes */
    }
}